@page {
  @top-center {
    content: "M. Avci • Curriculum Vitae";
    font-size: 10px;
    border-bottom: 1px solid #ccc;
  }
  @bottom-center {
    content: "Page " counter(page) " of " counter(pages);
    font-size: 10px;
  }
}

